<h2>Каталог</h2>

{% for item in catalog %}
    <div>
        <h3><a href="?c=good&a=card&id={{ item.id }}">{{ item.name }}</a></h3>
        <p>price: {{ item.price }}</p>
        <button>Купить</button>
    </div>
{% endfor %}

<a href="?c=good&a=catalog&page={{ page | raw }}">Еще</a>
